@import "~bootstrap/scss/variables";

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
}

/* Switcher */
#sidebar {
    padding: 15px;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
    margin-left: -280px;

    &.open {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0;

        &.open {
            margin-left: -280px;
            transform: none;
        }
    }
}
