#sidebarToggle {
    width: 40px;
    height: 40px;
    margin-right: 20px;

    & span {
        width: 80%;
        height: 2px;
        margin: 5px auto;
        display: block;
        background: #fff;
        transition: all 0.3s;
    }

    &:hover span {
        background: #000;
    }

    & span {
        &:first-of-type,
        &:nth-of-type(2),
        &:last-of-type {
            transform: none;
            opacity: 1;
        }
    }

    &.open span {
        margin: 0 auto;

        &:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
    }
}


@media (max-width: 768px) {
    #sidebarToggle {
        &.open span {
            &:first-of-type,
            &:nth-of-type(2),
            &:last-of-type {
                margin: 5px auto;
                transform: none;
                opacity: 1;
            }
        }

        & span {
            margin: 0 auto;

            &:first-of-type {
                transform: rotate(45deg) translate(2px, 2px);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:last-of-type {
                transform: rotate(-45deg) translate(1px, -1px);
            }
        }
    }
}
